@model IEnumerable<BHMTOnline.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
    <p>
        Mã DDH: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}
    <p />
    <table class="table">
        <tr>
            <th>
                Mã đơn đặt hàng
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Đơn giá
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonDatHang.MaDDH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }

    </table>
