@model BHMTOnline.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên hãng sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangSanXuat.TenHSX)
        </dd>

        <dt>
            Tên hệ điều hành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeDieuHanh.TenHDH)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            Đơn giá nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaNhap)
        </dd>

        <dt>
            Đơn giá bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaBan)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.HinhAnh)*@
            <img src="~/HinhAnhSP/@Model.HinhAnh" />
        </dd>

        <dt>
            Màn hình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManHinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ram)
        </dd>

        <dt>
            Đồ họa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoHoa)
        </dd>

        <dt>
            Ổ cứng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin)
        </dd>

        <dt>
            Xuất xứ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XuatXu)
        </dd>

        <dt>
            Năm ra mắt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamRaMat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
