@*@model IEnumerable<BHMTOnline.Models.SanPham>*@

@model PagedList.IPagedList<BHMTOnline.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .btn-default {
        padding: 4px 15px;
        border: 0px;
        border-radius: 4px;
    }
        .btn-default:hover {
            background: #0c80fb;
        }
        .btn-default a {
            color: #000;
        }
        .btn-default a:hover {
            color: #fff;
        }

        .btn-default a {
            text-decoration: none;
        }
    .crud a {
        text-decoration: none;
        background: lavender;
        width: 40px;
        padding: 5px 15px;
        border-radius: 4px;
    }

        .crud a:hover {
            background: #0c80fb;
            color: #fff;
        }

</style>

<h2>Danh sách </h2>

<p>
    <button class="btn-default">@Html.ActionLink("Create", "Create")</button>
<p/>
    <table class="table">
        <tr>
            <th>
                Hãng sản xuất
            </th>
            <th>
                Hệ điều hành
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Đơn giá nhập
            </th>
            <th>
                Đơn giá bán
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Màn hình
            </th>
            <th>
                CPU
            </th>
            <th>
                Ram
            </th>
            <th>
                Đồ họa
            </th>
            <th>
                Ổ cứng
            </th>
            <th>
                Pin
            </th>
            <th>
                Xuất xứ
            </th>
            <th>
                Năm ra mắt
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr class="crud">
        <td>
            @Html.DisplayFor(modelItem => item.HangSanXuat.TenHSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeDieuHanh.TenHDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGiaNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManHinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoHoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OCung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XuatXu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamRaMat)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.MaSP })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaSP })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.MaSP })
        </td>
    </tr>
        }

    </table>
    <!-- Thêm mã phân trang -->
    <br />

    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))

    <!-- Kết thúc -->
