@model IEnumerable<BHMTOnline.Models.HangSanXuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên hãng sản xuất
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHSX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHSX }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHSX }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHSX })
        </td>
    </tr>
}

</table>
