@model IEnumerable<BHMTOnline.Models.HeDieuHanh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên hệ điều hành
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHDH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHDH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHDH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHDH })
        </td>
    </tr>
}

</table>
